block content
	div.row
		div.col-md-8
			img(src="/images/PivotalGSS_logo_square140.png")
			p(style='white-space:pre;')
			p(style='white-space:pre;')
			div.input-group
				input#search.form-control(type="text", placeholder="Search for...")
				span.input-group-btn
					button#searchBtn(class="btn btn-default", type="button") Search	
			p(style='white-space:pre;')

